* {
    padding: 0;
    margin: 0;
}

/*parte del encabezado*/
header{
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1px;

}

.navbar navbar-expand-lg bg-body-tertiary{
    background-color: rgba(76, 188, 239, 0.9);

}


.navbar-nav a {
    font-size: 50px;
    color: rgb(24, 71, 113);
}

.navbar-nav a :hover{
    background-color: aqua;
    
}

.navbar-brand img {
    width: 120px;
    height: 120px;
    border: 5px;
    border-radius: 50%;

}

.contendor_menu .navbar-brand img {
    margin-left: auto;
}

.contendor_menu .navbar-nav {
    margin-left: auto;
    position: relative;
}
.contendor_menu{
    position: relative;
    z-index: 1001;
}
.carousel{
    position: relative;
    z-index: 1000;
}

.dropdown-menu a{
    font-family: archivo black;
    font-style: normal;
    font-size: 25px;

}
.dropdown-menu a :hover{
    color: aqua;
}

.contendor_menu .navbar-nav .nav-link {
    font-size: 22px;
    margin-right: 100px;
    font-family: archivo black;
    font-style: normal;
}

.navbar-toggler-icon {
    background-color: rgb(245, 237, 237);
    color: rgb(24, 25, 26);
}

/*seccion imagenes llamado a la accion*/


.contenedorsitios {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("./imagenes/fondo.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
}
.textCentral{

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(25, 25, 25, 0.5);
    background-position: center;
}

.filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 26, 26, 0.7);
}

.contenedorcentral h1 {
    color: white;
}

.container,
.carousel {
    position: relative;
    z-index: 1000;

}

.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: -80px;
    padding: 100px;
    align-items: center;
    
}
.container .row {
    text-align: center;
}
.col-md-6 h1{
    font-family: pacifico;
    font-size: 2.4em;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}


.wave-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}



.carrus-fluid{
    width: 68vh;
    height: 45vh;
}


/*botones para dirigir a nueva pagina*/

.button{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a7474;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-decoration: none;
    border-radius: 3%;
    border: 5px;
    transition: background-color 0.3s ease;
}

.button-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
}
.button:hover {
    background-color: #6d0df5;
}


.curved{
    background-color: aliceblue;
    color: aliceblue;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgba(18, 16, 16, 0.4);
}
.curved h1{
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

.curved p{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 5rem 0 5rem;
}

.curved svg{
    display: block;

}

.curve {
    
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    
    background-color:  rgba(18, 16, 16, 0.4);

    /* Color de fondo de la onda */
}

.curve {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.curve svg {
    display: block;
    width: calc(90% + 1.8px);
    height: 100%;
    
}


/*parte del inicio de sesion*/


.curver{
    background-color: rgba(18, 16, 16, 0.4);
}

.centro_quienes_somos{
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/fondo.jpg);
}
.dropdown-menu {
    z-index: 1;
    
}
